.heading {
  font-size: var(--fs-h1);
  line-height: var(--lh1-h1);
  font-family: pb;
}
.desc {
  font-size: var(--fs-body);
  line-height: var(---lh-body);
}
.btnsub {
  font-size: var(--fs-textbutton);
  line-height: var(--lh-textbutton);
  height: var(--height-button);
  background-color: var(--black-cl);
  color: var(--white-cl);
  width: 100%;
  @include transition;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
.textskip {
  font-size: var(--fs-body-s);
  line-height: var(--lh-body-s);
  &:hover {
    opacity: 0.9;
  }
}

.border {
  border: 1px solid var(--gray-cl);
}
.box {
  width: 100%;
  height: 12px;
}
