.popup {
  &__overlay {
    background-color: var(--black-cl);
    opacity: 0.6;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  &__inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    background-color: var(--white-cl);
    &-img {
      width: 50%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &-content {
      width: 50%;
      padding: 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      form {
        input {
          width: 100%;
          margin-bottom: 5px;
          outline: none;
          color: var(--black-cl);
          opacity: 0.9;
          border: 1px solid var(--black-cl);
          padding: 8px 8px;
        }
      }
      .textskip {
        width: 100%;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 10px;
        cursor: pointer;
      }
    }
  }
}
